.description {
  position: relative;
  margin-bottom: 5rem;
  height: 50rem;
  flex-direction: column;
  justify-content: center;
  perspective: 60rem;
}
.description > .content {
  background: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 4rem;
  opacity: 0;
  max-width: 40rem;
  transition: opacity 0.4s linear;
  padding: 1rem 2rem;
}
.description.show > *,
.description.active > * {
  opacity: 1;
}

.more-info {
  margin-top: 2rem;
  text-align: center;
}
