.description {
  flex: 1 1 content;
  position: relative;
  margin-bottom: 5rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  perspective: 60rem;
  width: 75rem;
}
.description > .content {
  background: rgba(20, 20, 20, 0.7);
  position: relative;
  opacity: 0;
  width: 40rem;
  transition: opacity 0.4s linear;
  padding: 1rem 2rem;
}
.description:hover > *,
.description.active > * {
  opacity: 1;
}

.description .slider {
  opacity: 1;
  background: transparent;
  height: 50rem;
  width: 75rem;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  transition-property: opacity transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.description .slider .background-image {
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 75rem;
  height: 50rem;
  top: 0;
  left: 0;
  transition: all 0.8s ease-in-out;
}
.description .slider .background-image.current {
  transform: translateX(0);
  opacity: 1;
}
.description .slider .background-image.next {
  transform: translateX(-75rem);
  opacity: 0;
}
.description .slider .background-image.prev {
  transform: translateX(75rem);
  opacity: 0;
}
.description:hover .slider,
.description.active > .slider {
  opacity: 0.8;
  transform: translateX(0rem) rotate3d(0, 1, 0, -30deg);
  transform-origin: right;
}
