.animated-background {
  height: 100vh;
  width: 100vw;
  /* background: red; */
  position: fixed;
  top: 0px;
  left: 0px;
}

.animated-background svg {
  /* transition: all 0.1s linear; */
  position: absolute;
}
.animated-background .grad-bg * {
  /* transition: all 0.05s linear; */
}

.icon-layer svg {
  transform-perspective: 60rem;
}
