.logo-path {
  transition: fill 0.3s ease-in-out;
  /* opacity: 0; */
  /* transform-origin: bottom; */
  /* transform-perspective: 40rem; */
}
.logo-path.animate-in {
  /* transform: rotate3d(0, 0, 0, 0); */
  /* transform: rotate3d(0, 1, 0, 90deg); */
  /* opacity: 1; */
  fill: inherit;
}
.logo-path.animate-out {
  /* transform: rotate3d(0, 1, 0, 90deg); */
  /* opacity: 0; */
  fill: red;
}
