@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.scroll-slider {
  position: relative;
  z-index: -100;
  margin: 2rem 0rem;
}
.scroll-slider .slick-dots button::before {
  color: white !important;
}

.scroll-slider .arrow-wrapper {
  position: absolute;
  top: 0px;
  display: flex;
  width: 5rem;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  transition: opacity 0.4s linear;
}
.scroll-slider .arrow-wrapper.right {
  right: 0px;
}
.scroll-slider .arrow-wrapper.left {
  left: 0px;
}
.arrow {
  display: none;
}

.scroll-slider .background-image {
  height: 20rem;
  background-size: contain;
  background-position: center;
}

.zlider {
  max-width: calc(100vw - 4rem);
}

@media screen and (min-width: 760px) {
  .arrow {
    display: block;
  }

  .zlider {
    padding: 0 6rem;
    max-width: auto;
  }

  .scroll-slider .background-image {
    height: 35rem;
  }

  .scroll-slider .arrow-wrapper.right,
  .scroll-slider .arrow-wrapper.left {
    opacity: 1;
  }
}
